#
# Files:
# - All files in this repository.
#
# Owner:
# - Andre_601 (https://github.com/Andre601)
#
*       @Andre601

#
# Files:
# - lang/de.json
# - lang/en.json
#
# Owner:
# - Andre_601 (https://github.com/Andre601)
#
de.json @Andre601
en.json @Andre601

#
# Files:
# - lang/ko.json
#
# Owner:
# - Oh Hyejun (https://github.com/Katinor)
#
ko.json @Katinor
